body {
    background-color: rgba(32, 43, 35, 0.911);
}
.qwe {
    font-size: 55px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 200px;
    position: static;
    transition: 0.6s;
}
.qwe:hover {
    color: rgba(201, 138, 229, 0.795);
    font-size: 60px;
}
.qwer {
    color: rgba(201, 138, 229, 0.795);
    font-size: 55px;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    position: sticky;
}
.ava {
    height: 200px;
    border-radius: 30px;
    position: absolute;
    margin-top: -4%;
}
.qwee {
    font-size: 55px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    position: static;
    transition: 0.6s;
}
.qwee:hover {
    color: rgba(201, 138, 229, 0.795);
    font-size: 60px;
}
.text1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 50%;
    font-weight: 600;
}
.text2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 50%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    margin-left: 30%;
    transition: 0.6s;
    font-weight: 600;
}
.text2:hover {
    font-size: 40px;
    font-weight: 650;
    color: rgba(201, 138, 229, 0.795);
}
.textair {
    font-size: 35px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin-top:-158%;
    margin-left: -69% ;
    position: static;
}
.textairq {
    font-size: 40px;
    font-weight: 549;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 10%;
    margin-left: 12%;
}
.textairr {
    font-size: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    transition: 0.6s;
}
.textairr:hover {
    font-size: 50px;
    
    color: rgba(202, 138, 229, 0.658);
}
.image {
    font-size: 40px;
    position: absolute;
    margin-top: 16%;
    margin-left: 11%;
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: 0.6s;
    font-family: Arial, Helvetica, sans-serif;
}
.image:hover {
    font-size: 45px;
    position: absolute;
    color: rgba(202, 138, 229, 0.658);
}
.textairwe {
    font-size: 40px;
    margin-top: 17%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 25%;
}
.image2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 11%;
    transition: 0.6s;
}
.image2:hover {
    font-size: 45px;
    color: rgba(202, 138, 229, 0.658);
    position: static;
}
.textairw {
    font-size: 40px;
    margin-left: 32%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: -2.5%;
    position: static;    
}
.GG {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 11%;
    transition: 0.6s;
}
.GG:hover {
    font-size: 45px;
    color: rgba(202, 138, 229, 0.658);
    position: static;
}
.textgg {
    font-size: 40px;
    margin-left: 18%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: -2.5%;
    position: static;   
}
